<div class="setting-container">
  <div class="update">
    <label for="">Total Budget</label>
    <input type="text" value="1000000">
    <button type="button" class="button">Update</button>

  </div>
  <div class="add">
    <label for="">Categories</label>
    <input type="text" value="1000000">
    <button type="button" class="button">Add</button>
  </div>
  <div class="items">
    <ul>
      <li><a href="#">Item1</a> <button>X</button></li>
      <li><a href="#">Item2</a> <button>X</button></li>
      <li><a href="#">Item3</a> <button>X</button></li>
      <li><a href="#">Item4</a> <button>X</button></li>
      <li><a href="#">Item5</a> <button>X</button></li>
    </ul>
  </div>
</div>
