<div class="setting-container">
  <div class="update">
    <label for="">Total Budget</label>
    <input type="text" placeholder="define budget" [(ngModel)] = "budgetValue" #updatevalue >
    <button type="button" class="button" (click)="budgetUpdate(updatevalue)">Update</button>

  </div>
  <div class="add">
    <label for="">Categories</label>
    <input type="text" placeholder="Categories">
    <button type="button" class="button">Add</button>
  </div>
  <div class="items">
    <ul>
      <li *ngFor="let item of itemsList">
        <a href="#">{{item.item}}</a> <img src="../../assets/images/delete-icon.png" alt="Delete icon" >
      </li>
    </ul>
  </div>
</div>
